<!DOCTYPE html>
<html>
    <head>
        <title>DPS TESTING TITLE</title>
    </head>
    <body>
        <form method="post" action="{{ url_for('index') }}" id="multiplier">
            {% for i in range(6) %}
            <label for="engrav-select">Engraving {{ i+1 }}:</label>
            <select name="engravings" id="engrav-select">
                {% for engraving in engrav_list %}
                <option value= "{{ engraving }}" name="engraving">{{ engraving }}</option>
                {% endfor %}
            </select>
            <label for="lvl">Level:</label>
            <select name="lvl" id="lvl">
                <option>---</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </br>
           {% endfor %}
        <label>Crit Chance</label>
        <input type="number" name="crit-select" step="any">
        <br>
        <label>Crit Damage</label>
        <input type="number" name="critdmg-select" step="any">
        <br>
        <button type="submit" id="submit">Calculate</button>
        </form>

        <!-- output -->
        {% for i in range(engrav_input|length) %}
        <p1>{{ engrav_input[i] }} {{ lvl_input[i] }}</p1><br>
        {% endfor %}
        <p1>Crit Chance: {{ crit_chance }}</p1><br>
        <p1>Crit Damage: {{ crit_dmg }}</p1><br>
        <p1>Multiplier: {{ multiplier }}</p1>
    </body>
</html>