<!DOCTYPE html>
<html>
    <head>
        <title>DPS TESTING TITLE</title>
    </head>
    <body>
        <!-- <h1>zzzDPS TESTING HMMM</h1>
        <h1>TEST2</h1>
        {% for engraving in engrav_list %}
        <h1>{{ engraving }}</h1>
        {% endfor %}
        <h1>TEST</h1> -->
        <form method="post" action="{{ url_for('index') }}" id="multiplier">
            <!-- <input type="hidden" name=""csrf> -->
            {% for i in range(6) %}
            <label for="engrav-select">Engraving {{ i+1 }}:</label>
            <select name="engravings" id="engrav-select">
                {% for engraving in engrav_list %}
                <option value= "{{ engraving }}" name="engraving">{{ engraving }}</option>
                {% endfor %}
            </select>
            <label for="lvl">Level:</label>
            <select name="lvl" id="lvl">
                <option>---</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </br>
           {% endfor %}
        <label>Crit Chance</label>
        <input type="number" name="crit-select" step="any">
        <br>
        <label>Crit Damage</label>
        <input type="number" name="critdmg-select" step="any">
        <br>
            <!-- <input type="submit" value="Calculate"/> -->
            <button type="submit" id="submit">Calculate</button>
        </form>

        <p1>Multiplier: {{ multiplier }}</p1>
        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script type="text/javascript">
            $('#submit').click(function (){
                $.ajax({
                    type: 'post',
                    url: '/',
                    data: {{ multiplier }}
                })
            })

        </script> -->

        <!-- {% if multiplier %}
        <h1>{{ multiplier }}</h1>
        {% endif %} -->
        <!-- <script type="text/javascript">
            $(document).on('submit', '#multiplier', function(e) 
            {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/',
                    data: {
                        output: ${{ multiplier }}
                    },
                    success:function()
                })
            });
        </script> -->

    </body>
</html>